.sidebar {
  background-color: #3e5569!important;
  padding: 2rem;
  color: #fff;
  z-index: 99;
}

.sidebar a {
  text-decoration: none;
  color: #b8b7b7;
  font-weight: 700;
  font-size: 12px;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar a:focus {
  color: #fff;
}

.sidebar a.active {
  color: #fff;
}

.sidebar li {
  padding: 4px;
}

.sidebar li:hover {
  background-color: #02b8ac!important;
}

.sidebar li:focus {
  background-color: #02b8ac!important;
}

.sidebar .selected {
  background-color: #02b8ac!important;
}

.sidebar .selected a {
  color: #fff!important;
}

.navbar {
  background-color: #34495b!important;
  padding: 16px;
  color: #fff;
}

.dashboard-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .dashboard-title {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .row .sidebar {
    display: none;
  }

  .row .sidebar.collapsed {
    position: absolute;
    width: 45%;
    display: block;
    height: 100%;
  }

  .row .content {
    width: 100%;
  }

  .filler {
    display: block;
  }
}

.filler {
  display: none;
}

thead th:nth-child(1) {
  text-align: center;
}

tbody th {
  text-align: center;
}

table th {
  font-size: 14px;
}

table td {
  font-size: 14px;
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  font-size: 13px;
}

.extra {
  position: fixed;
  bottom: 1.5rem;
}

.extra a {
  font-size: 16px!important;
}

.extra .home {
  color: rgb(1, 185, 1);
}

.extra .home:hover {
  color: rgb(3, 234, 3);
}

.extra .logout {
  color: red;
}

.extra .logout:hover {
  color: rgb(255, 73, 73);
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .action-container {
    flex-direction: column;
  }

  .booking-image {
    display: none ;
  }
}