.form-group .form-control {
  font-size: 13px;
}

.form-group input:focus {
  border-color: #02b8ac;
  box-shadow: 0 0 0 0.2rem rgba(2, 184, 172, 0.25);
}

.btn-grad {
  background-image: linear-gradient(to right, #04cec1, #04cec1);
}

.btn-grad:hover {
  background-image: linear-gradient(to right, #02b8ac, #02b8ac);
}

.a-color {
  color: #06e9da;
}

.forget-password {
  display: flex;
  justify-content: flex-end;
}

.forget-password a {
  font-size: 12px;
  font-weight: 700;
}

.bg-glassy {
  background-color: rgba(255, 255, 255, 0.25)!important;
  backdrop-filter: blur(8px)!important;
  -webkit-backdrop-filter: blur(8px)!important;
}