.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 180px;
  margin: 10px;
  border: none;
}

.card-body {
  padding: 6px!important;
}

.card-body * {
  margin: 0;
}

.card-body p {
  font-size: 12px;
  color: #333;
}

.square-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.form-control {
  font-size: 13px!important;
}

.btn-profile {
  font-size: 13px!important;
  background-color: #04cec1!important;
  border: none!important;
}

.btn-profile:hover {
  background-color: #02b8ac!important;
}

.profile input:focus {
  border-color: #02b8ac;
  box-shadow: 0 0 0 0.2rem rgba(2, 184, 172, 0.25);
}