.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hotel-container {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
  max-width: calc(100% - 2rem)!important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  margin: 10px;
  border: none;
}

.card-body {
  padding: 6px!important;
}

.card-body * {
  margin: 0;
}

.card-body p {
  font-size: 12px;
  color: #333;
}

.square-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.form-control {
  font-size: 13px!important;
}

.btn-profile {
  font-size: 13px!important;
  background-color: #04cec1!important;
  border: none!important;
}

.btn-profile:hover {
  background-color: #02b8ac!important;
}

.profile input:focus {
  border-color: #02b8ac;
  box-shadow: 0 0 0 0.2rem rgba(2, 184, 172, 0.25);
}

.hotel-name {
  font-size: 24px!important;
}

.description {
  font-size: 14px!important;
}

.room-type {
  font-size: 16px!important;
}

.price-per-night {
  font-size: 15px!important;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.image-wrapper img {
  transition: transform 0.3s ease;
}

.image-wrapper img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.image-about {
  max-width: 600px;
  margin-right: auto;
  margin-left: 0;
}

.card-review {
  width: 100%;
}

.card-review-section {
  border-radius: 0!important;
  width: 100%;
  padding: 0.5rem;
}

.rating-stars {
  color: #f0ad4e;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}